 <h1>Workshop Todo List</h1>
    <ul>
      <li>
        <input type="checkbox">
        <a href="show/<%= todo.id %>"><% = todo.description %></a>
        <span class="pomodoro-estimate">4 pomodoros</span>
      </li>
    </ul>
    
    <div id="new-todo-block">
      <a href= "/todo/new" class ="button add-new-todo-button" id="add-new-todo-button">Add a todo</a>
    </div>