<h2><%= @todo.description %></h2>
<h3> Todo#<%= params[:id]%></h3>

<span class="pomodoro-estimate large-pomodoro-estimate"><%= @todo.pomodoro_estimate %> Pomodoros</span>
<a href="#">Edit</a>
<a href="#">Delete</a>
<a href="index.html">go gack...</a>
        